<div class="login-panel-form xmpp-login-form noselect">
    <div class="login-form-header">电子邮件登入</div>
    <div class="input-field email-name">
        <input id="username" type="text" name="username">
        <label for="username">电子邮件</label>
        <span class="errors fixed one-line"></span>
    </div>
    <div class="input-field">
        <input id="password" type="password" name="password">
        <label for="password">密码</label>
        <span class="errors fixed one-line"></span>
    </div>
    <div class="login-panel-footer buttons-wrap"><button class="btn btn-flat btn-main-filled btn-log-in">登入</button><button class="btn-flat btn-main btn-dark btn-cancel">取消</button></div>
</div>