    <div class="left-column noselect">
        <div class="main-info-wrap xabber-info-wrap">
            <div class="picture-wrap">
                <img class="logo" src="images/xabber-logo-76.png"/>
            </div>
            <div class="name">优信网</div>
            <div class="version"></div>
        </div>
    </div>

    <div class="right-column noselect">
        <div class="settings-panel-head">
            <span>声明</span>
        </div>

        <div class="panel-content-wrap">
            <div class="panel-content">
                <div class="settings-block-wrap about">
                    <div class="block-content">
                        优信是一个开源的XMPP信使，中文版Xabber for Web，可在任何操作系统上的任何现代浏览器中使用。与Xabber for Android一样，它基于开放标准，互操作性，设计和用户体验。两个版本都是为了在平台之间提供持续的聊天体验而构建的。
                    </div>
                    <!--div class="block-content">
                        You will find more information on our official website <a href="https://www.xabber.com" target="_blank">https://www.xabber.com</a>
                    </div-->
                    <div class="block-header">
                        <span class="block-name">XMPP 协议</span>
                    </div>
                    <div class="block-content">
                        可扩展消息传递和存在协议（XMPP）是基于XML（可扩展标记语言）的面向消息的中间件的通信协议。它支持在任何两个或更多网络实体之间近乎实时地交换结构化但可扩展的数据。该协议最初名为Jabber，由Jabber开源社区于1999年开发，用于近实时即时消息（IM），状态信息和联系人列表维护。
                    </div>

                    <div class="block-header">
                        <span class="block-name">XMPP扩展协议</span>
                    </div>
                    <div class="block-content">
                        XMPP通过称为XEP（XMPP扩展协议）的扩展是高度可扩展的。 Xabber支持许多流行的XEP，这些XEP对于为用户提供出色的聊天体验至关重要。
                    </div>

                    <!--div class="block-header">
                        <span class="block-name">Developers</span>
                    </div>
                    <div class="block-content">
                        Xabber for Android was originally developed by <a href="http://redsolution.com" target="_blank">Redsolution, Inc.</a> — an international software and services company based in Russia and United States. Xabber was licensed under GNU GPL v.3 license early in 2013. Since then, a number of individuals joined Xabber as developers, testers and translators.
                    </div>
                    <div class="block-content">
                        Xabber for Web was released in August 2017 under GNU AGPL v.3 license.
                    </div>
                    <div class="block-content">
                        Our goal is to create a stable, reliable and user friendly ecosystem for instant messaging that does not rely on proprietary services. We welcome anyone who believes in open standards and free information interchange to take part in moving Xabber forward.
                    </div>
                    <div class="block-content">
                        Follow us on <a href="https://twitter.com/Xabber_XMPP" target="_blank">Twitter</a> and <a href="https://github.com/redsolution/xabber-web" target="_blank">Github</a>.
                    </div-->

                    <div class="block-header">
                        <span class="block-name">版权</span>
                    </div>
                    <div class="block-content">
                        GNU AGPL v.3.
                    </div>
                    <!--div class="block-content">
                        Graphical images are licensed under Creative Commons Attribution Share-Alike (CC BY-SA) license.
                    </div>
                    <div class="block-content">
                        Xabber & Redsolution logo are property of Redsolution, Inc.
                    </div>
                    <div class="block-content">
                        View Xabber for Web <a href="https://github.com/redsolution/xabber-web/blob/master/LICENSE" target="_blank">license file</a> for more information.
                    </div-->
                </div>
            </div>
        </div>
    </div>
