    <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="ic-jabber"></svg>
    <div class="info status-info">
        <div class="label">状态:</div>
        <div class="value status-message one-line"></div>
        <div class="status"></div>
    </div>
    <div class="info client-info">
        <div class="label">用户:</div>
        <div class="value client one-line"></div>
    </div>
    <div class="info resource-info">
        <div class="label">资源:</div>
        <div class="value resource one-line"></div>
    </div>
    <div class="info priority-info">
        <div class="label">优先级:</div>
        <div class="value priority"></div>
    </div>
