<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="zh" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="zh" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<title th:text="'大家拿-'+${page.title}"></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<!-- Meta data -->
<meta name="description" th:content="${page.description}"/>
<meta name="keywords" th:content="${page.keywords}"/>
<!-- Meta data-->
<!--[if gte IE 9 | !IE ]><!-->
<link href="http://dajana.ca/resources/images/favicon.ico" rel="icon" type="image/x-icon"/>
<link rel="stylesheet" href="/resources/wet-boew/css/wet-boew.min.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<!--<![endif]-->
<link rel="stylesheet" href="/resources/wet-boew/css/theme.min.css"/>
<!--[if lt IE 9]>
<link href="/resources/images/favicon.ico"/>
<link rel="stylesheet" href="/resources/css/ie8-wet-boew.min.css"/>
<script src="/resources/js/jquery/1.11.1/jquery.min.js"></script>
<script src="/resources/js/ie8-wet-boew.min.js"></script>
<![endif]-->

</head>
<body>




<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">跳到主内容</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">跳到"关于本网站"</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr" class="container">
<section id="wb-lng" class="visible-md visible-lg text-right">
<h2>选择管理菜单</h2>
<div class="row">
<div class="col-md-12">
<ul class="list-inline margin-bottom-none">

<li><a th:href="${page.baseUri}+'/site/editor.html?path=/content/home'"><span class="glyphicon glyphicon-edit">编辑</span></a></li>
<li><a th:href="${page.baseUri}+'/protected/chat.html'"><span class="glyphicon glyphicon-envelope"></span>网信<span class="badge"></span></a></li>
<!-- <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>退出</a></li> -->



</ul>
</div>
</div>
</section>
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<a href="/">
<object type="image/svg+xml" tabindex="-1" data="/resources/images/djnlogo.svg"></object>
</a>
</div>

<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
<h2>选择管理菜单</h2>
<ul class="list-inline text-right chvrn">
<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>
<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
<h2>查询</h2>
<form action="?" method="get" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q" class="wb-inv">查询</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="输入关键词查询"/>
<datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">查询</span></button>
</div>
</form>
</section>
</div>
</div>
<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
<div class="container nvbar">
<h2>主题菜单</h2>
<div class="row">
<ul class="list-inline menu" role="menubar" th:utext="${page.navigation}">
</ul>
</div>
</div>
</nav>
<nav role="navigation" id="wb-bc" property="breadcrumb">
	<h2>你在这里:</h2>
	<div class="container">
	<div class="row" th:utext="${page.breadcrumb}">
	</div>
	</div>
</nav>
<div class="container" id="header_message">
</div>
</header>

	
<main th:if="${page.showLeftmenu!='true'}" role="main" property="mainContentOfPage" class="container">
	<div th:utext="${page.content}"></div>
	<div class="row pagedetails">
		<div class="col-xs-12 mrgn-tp-lg">
		<div class="col-sm-4">
		    <dl id="wb-dtmd">
		    <dt>修改日期:</dt>
		    <dd><time th:text="${page.lastModifiedDate}"></time></dd>
			</dl>
		</div>
	
	    <div class="col-sm-3 mrgn-tp-sm pull-right">
	        <a href='/content/home.shr?ref=home'  class="wb-lbx btn btn-default btn-block" id="wb-auto-7"><span class="glyphicon glyphicon-share"></span>分享此页</a>
	    </div>	
		</div>
	</div>
		
</main>
<div th:if="${page.showLeftmenu=='true'}" class="container">
<div class="row">
  	<main role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">
	<div th:utext="${page.content}"></div>
	<div class="row pagedetails">
		<div class="col-xs-12 mrgn-tp-lg">
		<div class="col-sm-4">
		    <dl id="wb-dtmd">
		    <dt>修改日期:</dt>
		    <dd><time th:text="${page.lastModifiedDate}"></time></dd>
			</dl>
		</div>
	
	    <div class="col-sm-3 mrgn-tp-sm pull-right">
	        <a href='/content/home.shr?ref=home'  class="wb-lbx btn btn-default btn-block" id="wb-auto-7"><span class="glyphicon glyphicon-share"></span>分享此页</a>
	    </div>	
		</div>
	</div>	
 	</main>
     <nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
         <div th:utext="${leftmenu}"></div>
     </nav>
        
</div>
</div> 		
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container wb-navcurr">
<h2>关于本网站</h2>
<section class="col-sm-3">
<h3>关于本网站</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/termnuse.html'>期限和使用</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>联系我们</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/qna.html'>问题与答案</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>客户服务</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/help.html'>在线帮助</a></li>
</ul>
</section>
 <section class="col-xs-3 col-sm-3 text-right">
	<object type="image/svg+xml" tabindex="-1" role="img" data="/resources/images/hongicon.svg" aria-label="优鸿网络"></object>
</section>	
</nav>

<div class="brand">
            <div class="container">
    <div class="row">
                    <div class="col-xs-6 visible-sm visible-xs tofpg text-center">
                        <a href="#wb-cont">到页端 <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
               </div>
				<div class="col-xs-6 col-md-12 text-center">优鸿网络版权所有 V1.3</div>
           </div>
</div>
</footer>	
<script src="/resources/wet-boew/js/jquery/2.1.4/jquery.min.js"></script>
<script src="/resources/wet-boew/js/wet-boew.min.js"></script>
<script src="/resources/wet-boew/js/theme.min.js"></script>
<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>