<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="zh" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->



<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<title>大家拿-首页</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<!-- Meta data -->
<meta name="description" content=""/>
<!-- Meta data-->
<!--[if gte IE 9 | !IE ]><!-->
<link href="http://dajana.ca/resources/images/favicon.ico" rel="icon" type="image/x-icon"/>
<link rel="stylesheet" href="/resources/wet-boew/css/wet-boew.min.css"/>
<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<!--<![endif]-->
<link rel="stylesheet" href="/resources/wet-boew/css/theme.min.css"/>
<!--[if lt IE 9]>
<link href="/resources/images/favicon.ico"/>
<link rel="stylesheet" href="/resources/css/ie8-wet-boew.min.css"/>
<script src="/resources/js/jquery/1.11.1/jquery.min.js"></script>
<script src="/resources/js/ie8-wet-boew.min.js"></script>
<![endif]-->

</head>
<body>




<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">跳到主内容</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">跳到"关于本网站"</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr" class="container">
<section id="wb-lng" class="visible-md visible-lg text-right">
<h2>选择管理菜单</h2>
<div class="row">
<div class="col-md-12">
<ul class="list-inline margin-bottom-none">

<li><a href="/site/editor.html?path=/content/home"><span class="glyphicon glyphicon-edit">编辑</span></a></li>
<li><a href='/protected/chat.html'><span class="glyphicon glyphicon-mail"></span>网信<span class="badge"></span></a></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>



</ul>
</div>
</div>
</section>
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<a href="/">
<object type="image/svg+xml" tabindex="-1" data="/resources/images/djnlogo.svg"></object>
</a>
</div>

<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
<h2>选择管理菜单</h2>
<ul class="list-inline text-right chvrn">
<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>
<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
<h2>查询</h2>
<form action="?" method="get" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q" class="wb-inv">查询</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="输入关键词查询"/>
<datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">查询</span></button>
</div>
</form>
</section>
</div>
</div>
<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">

<div class="container nvbar">
<h2>主题菜单</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
<li><a class="item" href="/content/home/blog.html">博客</a></li><li><a class="item" href="/content/home/xw.html">新闻</a></li>
</ul>
</div>
</div>
</nav>
</header>
<!-- 	<div class="container">

		<div class="starter-template">
			<h1>Spring Boot Web Thymeleaf Example</h1>
			<h2>
				<span th:text="'Message: ' + ${message}"></span>
			</h2>
		</div>

	</div> -->
	<!-- /.container -->
	
        <main role="main" property="mainContentOfPage" class="container">
			 <p><a class="wb-lbx wb-init wb-lbx-inited" href="home/assets/home_0.jpg"></a></p> 
<h1>&nbsp;大家拿欢迎大家</h1> 
<p>&nbsp;&nbsp;&nbsp;&nbsp; 大家拿是一个免费开放、隐私保护、资源共享、信息共享、利益共享互联云平台，为个人，家庭，团体，企业，事业提供环境和设备建立和完全拥有自己的网站和云存储中心。</p> 
<p>&nbsp;&nbsp;&nbsp;&nbsp; 吉祥三宝是一个软件硬件一体化设备,总有一款合适你。网站可以建在任何地方，就在你家里，接通网络，接通电源你就完全拥有自主的云中心。你的网址将会是{你的用户名}.dajana.cn。</p> 
<p>&nbsp;&nbsp;&nbsp;&nbsp; 大家拿云中还为没能力投资的人提供免费平台建立自己的网页。大家拿系统是一个简单方便,所见即所得编辑系统。同一设计可自适应于桌面电脑、iPad、手机。可建<a href="http://dajana.ca/content/templates.html">多种主题</a>：新闻、博客、网店、在线聊等等。自由发挥建立自己想要的网站。</p> 
<p>&nbsp; &nbsp; &nbsp;共享网站还是一个海量云存储中心和文件管理系统、任何时候任何地点都可上传或下载传照片和文件。网站就在你家里、你的数据和隐私就有安全保障。网站是一个专用系统、不运行其它软件、难以染病毒。</p> 
<p>&nbsp; &nbsp; &nbsp;拥有大家拿共享网站当前即利的长远投资、你的投资将会转换成公司上市之前PIO股票(限期<sup id="fn-rtn"><a class="fn-lnk" title="1" href="http://dajana.ca/content/home.html#fn1">1</a></sup>)。你的网站可能升值，公司会委托对你的网站估值，邀请你加盟，对你网站升级。从个人网站-》群网-》同城网-》区域网-》主题网。群主可已邀请很多人在其网站建个人网站、由其产生利益，总公司：群主：个人网站：技术部分成为3:3:3:1。个人网站升级为个人云站，群主得营业额的20%。 云站网主在大家拿系统中自动受于由总公司担保的金牌信誉。</p> 
<p>&nbsp;<span style="color: inherit; font-size: 26px; font-weight: bold; line-height: 1.3;">吉祥三宝</span></p> 
<section id="wb-auto-6" class="row wb-eqht noneditable wb-init wb-eqht-inited"> 
 <div id="mce_26" class="col-lg-4 col-md-6 mrgn-bttm-md editable" style="vertical-align: top; min-height: 403px;"> 
  <h3 class="h5">个人云站</h3> 
  <img class="img-responsive" src="http://dajana.ca/content/viewimage?uid=7b52112b-27fb-4158-9d9d-ccad5d839b50" alt=""/> 
  <p>海量存储1T，80万张照片，500万网页</p> 
 </div> 
 <div id="mce_27" class="col-lg-4 col-md-6 mrgn-bttm-md editable" style="vertical-align: top; min-height: 403px;"> 
  <h3 class="h5">群共享云站</h3> 
  <img class="img-responsive" src="http://dajana.ca/content/viewimage?uid=cdb7cc1a-abc4-4dfd-b9fc-0ab4e71b00ab" alt=""/> 
  <p>天量存储2T，160万张照片，1000万网页</p> 
 </div> 
 <div id="mce_28" class="col-lg-4 col-md-6 mrgn-bttm-md editable" style="vertical-align: top; min-height: 515px;"> 
  <h3 class="h5">商业云中心</h3> 
  <img class="img-responsive" src="http://dajana.ca/content/viewimage?uid=b795184e-6ce0-4482-a9ac-c70ded0f6183" alt=""/> 
  <p>无限存储8T，可扩展，双核，双备份。</p> 
 </div> 
</section> 
<p>&nbsp;</p>
			 









<div class="row pagedetails">

	
			
	<div class="col-xs-12 mrgn-tp-lg">
	<div class="col-sm-4">
	    <dl id="wb-dtmd">
	    <dt>修改日期:</dt>
	    <dd><time>2017-12-26</time></dd>
		</dl>
	</div>

    <div class="col-sm-3 mrgn-tp-sm pull-right">
        <a href='/content/home.shr?ref=home'  class="wb-lbx btn btn-default btn-block" id="wb-auto-7"><span class="glyphicon glyphicon-share"></span>分享此页</a>
    </div>	
	</div>
</div>
		
 		</main>
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container wb-navcurr"  data-ajax-replace='/templates/assets/html/replace.html'>
<h2>关于本网站</h2>
<section class="col-sm-3">
<h3>关于本网站</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/termnuse.html'>期限和使用</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>联系我们</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/qna.html'>问题与答案</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>客户服务</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/help.html'>在线帮助</a></li>
</ul>
</section>
 <section class="col-xs-3 col-sm-3 text-right">
	<object type="image/svg+xml" tabindex="-1" role="img" data="/resources/images/hongicon.svg" aria-label="优鸿网络"></object>
</section>	
</nav>

<div class="brand">
            <div class="container">
    <div class="row">
                    <div class="col-xs-6 visible-sm visible-xs tofpg text-center">
                        <a href="#wb-cont">到页端 <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
               </div>
				<div class="col-xs-6 col-md-12 text-center">优鸿网络版权所有 V1.3</div>
           </div>
</div>
</footer>	
<script src="/resources/wet-boew/js/jquery/2.1.4/jquery.min.js"></script>
<script src="/resources/wet-boew/js/wet-boew.min.js"></script>
<script src="/resources/wet-boew/js/theme.min.js"></script>
<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>