<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="zh" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="zh" dir="ltr">
<!--<![endif]-->

    <head>
<meta http-equiv="Content-type" content="text/html;charset=GB18030">      
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>大家网</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta name="description" content="The Government of Canada website is a single point of access to all programs, services, departments, ministries and organizations of the Government of Canada.">
        <!--[if gte IE 9 | !IE ]><!-->
<link href="/resources/images/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="/resources/dist/wet-boew/css/wet-boew.min.css"/>
<!--<![endif]-->

<link rel="stylesheet" href="/resources/dist/wet-boew/css/theme.css"/>
<link rel="stylesheet" href="/resources/dist/wet-boew/css/messages.min.css"/>

<!--[if lt IE 9]>
<link href="/resources/dist/wet-boew/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="/resources/dist/wet-boew/css/messages-ie.min.css">
<link rel="stylesheet" href="/resources/dist/wet-boew/css/ie8-wet-boew.min.css" />
<script src="/resources/dist/js/jquery/1.11.1/jquery.min.js"></script>
<script src="/resources/dist/wet-boew/ie8-wet-boew.min.js"></script>
<![endif]-->



<script>dataLayer = []; dataLayer1 = [];</script>
    </head>

    <body class="splash" vocab="http://schema.org/" typeof="WebPage">
		
        
<div id="bg"><img id="splash-image" src="/resources/splash/sp-bg-1.jpg" alt=""></div><main role="main" property="mainContentOfPage">
<div class="sp-hb">
<div class="sp-bx col-xs-12">
<h1 property="name" class="wb-inv">Canada.ca</h1>
<div class="row">
<div class="col-xs-11 col-md-8">
<object type="image/svg+xml" tabindex="-1" role="img" data="/resources/images/logo.svg" width="283" aria-label="大家拿"></object>
</div>
</div>
<div class="row">
<section class="col-xs-6 text-right">
<h2 class="wb-inv">我家网</h2>
<p><a href="/protected/mysite.html" class="btn btn-primary">我家网</a></p>
</section>
<section class="col-xs-6" lang="fr">
<h2 class="wb-inv">大家网</h2>
<p><a href="/content/home.html" class="btn btn-primary">大家网</a></p>
</section>
</div>
</div>
<div class="sp-bx-bt col-xs-12">
<div class="row">
<div class="col-xs-7 col-md-8">
<a href="/content/home/termnuse.html" class="sp-lk">期限和使用</a> <span class="glyphicon glyphicon-asterisk"></span>
</div>

<div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
<object type="image/svg+xml" tabindex="-1" role="img" data="/resources/images/hongicon.svg" width="127" aria-label="优鸿网络"></object>
</div>
</div>
</div>
</div>
</main>
<script>
    var splashImagePaths = [];
    var numImages = 0;
    var selectedImageIndex = 5;
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-1.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-10.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-11.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-12.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-2.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-3.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-4.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-5.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-6.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-7.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-8.jpg');
                numImages++;
                
                splashImagePaths.push('/content/dam/canada/splash/sp-bg-9.jpg');
                numImages++;
                

    document.getElementById("splash-image").src = splashImagePaths[Math.floor((Math.random() * numImages))];

</script>
        

<!--[if gte IE 9 | !IE ]><!-->



<script src="/resources/dist/js/jquery/2.1.4/jquery.min.js"></script>
<script src="/resources/dist/wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->

<!--[if lt IE 9]>
        <script src="/resources/dist/wet-boew/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

<script src="/resources/dist/wet-boew/js/theme.min.js"></script>
    </body>
</html>


