<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="zh" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="zh" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<title>大家拿-云登入</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<!-- Meta data -->
<meta name="description" th:content="''"/>
<meta name="keywords" th:content="''"/>
<!-- Meta data-->

<link href="/resources/images/favicon.ico" rel="icon" type="image/x-icon"/>
<link rel="stylesheet" href="/resources/wet-boew/css/wet-boew.min.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/resources/wet-boew/css/theme.min.css"/>
<noscript><link rel="stylesheet" href="/resources//wet-boew/css/noscript.min.css" /></noscript>
</head>
<body>
<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Goto main</a>
</li>
<li class="wb-slc visible-sm visible-md visible-lg">
<a class="wb-sl" href="#wb-info">About this site</a>
</li>
</ul>
<header role="banner">
<div id="wb-bnr" class="container">
<section id="wb-lng" class="visible-md visible-lg text-right">
<h2>menu</h2>
<div class="row">
<div class="col-md-12">
<ul class="list-inline margin-bottom-none">
<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>登入</a></li>
<li><a href="/signup"><span class="glyphicon glyphicon-flag"></span>注册</a></li>
</ul>
</div>
</div>
</section>
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<a href="/">
<object type="image/svg+xml" tabindex="-1" data="/resources/images/djnlogo.svg"></object>
</a>
</div>

<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
<h2>Search</h2>
<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<!-- <label for="wb-srch-q" class="wb-inv">Search</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="keywords"/>
 --><datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<!-- <div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">搜索</span></button>
</div> -->
</form>
</section>
</div>
</div>
</header>
<main role="main" property="mainContentOfPage" class="container">
<div class="col-md-4 col-md-push-3">
<h2>登入微云</h2>
<div th:if="${param.error}" class="row">
<section class="alert alert-warning">
<h2>错误!</h2>
<div class="error" th:utext="用户名或密码无效">
 </div>
</section>
</div>

<div th:if="${info !=null}" class="row">
<section class="alert alert-info">
<div class="error" th:utext="${info}">
</div>
</section>
</div>


<div class="wb-frmvld">
	<form action="/signin" method="post" id="validation-example">
		<input type="hidden" id="count" name="count" value="0"/>
		<input type="hidden" id="redirect" name="redirect" value="0"/>		
		<div class="form-group">
			<label for="username" class="required"><span class="field-name">用户名</span> <strong class="required">(必填)</strong></label>
			<input class="form-control" id="username" name="j_username" type="text" th:value="${j_username}" required="required" pattern=".{2,}" data-rule-minlength="2" size="40"  placeholder="输入用户名"/>
		</div>
		<div class="form-group">
			<label for="password" class="required">密码<span class="field-name">(5 到 10字)</span><strong class="required">(必填)</strong></label>
			<input class="form-control" id="password" name="j_password" type="password" maxlength="10" required="required"  size="10" pattern=".{5,10}" data-rule-rangelength="[5,10]" />
		</div>
    

               
	<input type="submit" id="submit" value="确认" class="btn btn-primary"/> <input type="reset" value="重填" class="btn btn-default"/>
    </form>
</div>



</div>
</main>
	
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container wb-navcurr">
<h2>关于本网站</h2>
<section class="col-sm-3">
<h3>关于本网站</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/termnuse.html'>期限和使用</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>联系我们</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/qna.html'>问题与答案</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>客户服务</h3>
<ul class="list-unstyled">
<li><a href='/templates/assets/help/help.html'>在线帮助</a></li>
</ul>
</section>
 <section class="col-xs-3 col-sm-3 text-right">
	<object type="image/svg+xml" tabindex="-1" role="img" data="/resources/images/hongicon.svg" aria-label="优鸿网络"></object>
</section>	
</nav>

<div class="brand">
            <div class="container">
    <div class="row">
                    <div class="col-xs-6 visible-sm visible-xs tofpg text-center">
                        <a href="#wb-cont">到页端 <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
               </div>
				<div class="col-xs-6 col-md-12 text-center">优鸿网络版权所有 V1.3</div>
           </div>
</div>
</footer>	
<script src="/resources/wet-boew/js/jquery/2.1.4/jquery.min.js"></script>
<script src="/resources/wet-boew/js/wet-boew.min.js"></script>
<!-- <script src="/resources/wet-boew/js/theme.min.js"></script> -->
<!-- <script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->
</body>
</html>